core:
  logPath: /Users/jialechan/idesWorkspaces/LogAnalytics/src/test/resources/
  hostList:
    - sitelog

mail:
  mailTitle: 服务器请求日报
  senderHost: smtp.qiye.xxx.com
  senderUsername: xxx@xxx.com
  senderPassword: xxx
  emailFrom: xxx@xxx.com
  receiverList:
    - xxx@xxx.com

ignoreStartWith:
  accessIgnoreStartWithList:
    - /favicon.ico
  callIgnoreStartWithList:
    - /favicon.ico
  consumeIgnoreStartWithList:
- /favicon.ico